.main {
  width: 1280px;
  font-family: "special elite";
}

.logo-doc {
  margin: 0;
  width: 1280px;
  text-align: center;
  font-size: 40px;
  animation: spin 4s infinite linear;
}

h1 {
  text-align-last: left;
  color: #4bcaff;
  animation: spin 2s infinite linear;
}

span {
  color: black;
  animation: spin 2s infinite linear;
}

.all-slot div {
  display: inline-block;
  font-size: 24px;
  color: rgb(221, 240, 50);
}

.all-slot {
  text-align: center;
  background-color: #35444f;
}

.first-slot {
  padding: 30px 38px;
  animation: spin 2s infinite linear;
}

.second-slot {
  padding: 30px 38px;
  animation: spin 1s infinite linear;
  animation-direction: reverse
}

.third-slot {
  padding: 30px 38px;
  animation: spin 2s infinite linear;
}

.four-slot {
  padding: 30px 38px;
  animation: spin 1s infinite linear;
  animation-direction: reverse
}

.all-slot div:hover {
  background-color: #222f3a;
}

.non-lane {
  text-decoration: none;
}

.left, .right {
  display: inline-block;
}

.left {
  border: 1px solid black;
  font-size: 24px;
  color: #495863;
  width: 300px;
  vertical-align: top;
  margin: 60px 60px 60px 0px;
  animation: spin 1s infinite linear;
}

.right {
  border: 1px solid black;
  padding: 60px;
  margin: 60px 0px 30px 0px;
  width: 790px;
  animation: spin 1s infinite linear;
}
.animate-img {
  animation: spin 1s infinite linear;
  animation-direction: reverse
}

.left div {
  padding: 30px;
}

.right img {
  position: relative;
  left: 230px;
  overflow: hidden;
}

.e {
  vertical-align: center;
  margin-left: 25px;
  padding: 0;
  position: relative;
  top: -20px;
}

.small-text {
  padding-left: 380px;
  font-family: sans-serif;
  font-size: 18px;
  padding-bottom: 25px;
  animation: spin 1s infinite linear;
}

.icon-asl {
  *zoom: expression( this.runtimeStyle['zoom']='1', this.innerHTML='&#xe800;&nbsp;');
}

li {
  display: inline;
  padding: 15px 20px;
  font-size: 24px;
  animation: spin 1s infinite linear;
  
}

i {
  font-size: 59px;
}

ul {
  background-color: #b4b7ba;
  padding: 15px;
  animation-direction: reverse;
  animation: spin 4s infinite linear;
}

.float-right {
  padding: 0;
  margin: 0;
  float: right;
  animation: spin 1s infinite linear;
  animation-direction: reverse
}

.left div:hover {
  background-color: #dbdbdb;
  color: black;
}

.left a {
  color: #1a9af5;
  text-decoration: none;
  
}

ul a {
  color: #000;
  text-decoration: none;
  
}

ul a:hover {
  color: #3181a6;
  text-decoration: underline;
}

.float-right:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

img:hover {
  -webkit-transition: all 1s ease-out;
}

img:hover {
  -webkit-transform: scale(1.2);
}
a div {
  animation: spin 1.3s infinite linear;
  animation-direction: reverse;
}